@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@700&family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@font-face {
    font-family: 'Volkswagen Serial Bold';
    src: url('../Assests/fonts/volkswagen-serial-bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Icomoon';
    src: url('../Assests//fonts/icomoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  

.row1{
 
  position: relative;
  top: 200px;
  width: 60%;
   
   
}

.bodyCard{
 

    
    background: transparent;
 
}
.card-title1{
    font-family: 'Noto Sans', sans-serif;
    color: #213360;
    font-size: 16px;

    font-weight: 700;
}
.text{
    color: #283b6a;
    font-size: 17px;
    line-height: 1.5;
    font-weight: 700;
    max-width: 550px;
    
}
.card-subtitle{
    font-family: 'Quicksand', sans-serif;
    font-size: 75px;
    line-height: 1.1;
    color: #0e204d;
   
}
.card-body1{
    color: rgb(48,72,139);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 5px;
}
button{
    cursor: pointer;
}

.aboutBtn{
    cursor: pointer;
    border: none;
    font-family: 'Schibsted Grotesk' , sans-serif;
    outline: none;
    background-color: white;
    color: rgb(32, 48, 90);
    height: 60px;
    width:190px;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index:1;
    margin-left: 10px;
}
.aboutBtn:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #283b6a;
    transform: scaleX(0);
    transform-origin: left;
   
    transition: transform 0.3s linear;
    z-index:-1;
    
}
.aboutBtn:hover{
    color: white;
}
.aboutBtn:hover::before {
    transform: scaleX(1);
    
  }
.services{
         cursor: pointer;
        border: none;
        font-family: 'Schibsted Grotesk' , sans-serif;
        outline: none;
        background-color: #283b6a;
        color: white;
        height: 60px;
        width:190px;
        border-radius: 30px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        z-index:1;
        margin-left: 10px;
   
}


.services:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(32,197,184);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s linear;
    z-index:-1;
    

}


.services:hover::before {
    transform: scaleX(1);
  }


.aboutlist{
   
    background: rgb(255,255,255);
    background: -moz-linear-gradient(120deg, rgba(255,255,255,1) 68%, rgba(255,255,255,1) 82%, rgba(242,242,242,1) 100%);
    background: -webkit-linear-gradient(120deg, rgba(255,255,255,1) 68%, rgba(255,255,255,1) 82%, rgba(242,242,242,1) 100%);
    background: linear-gradient(120deg, rgba(255,255,255,1) 68%, rgba(255,255,255,1) 82%, rgba(242,242,242,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#f2f2f2",GradientType=1);
    height: 150px;
    width: 500px;
}


#AboutTitle{
    color: #283b6a;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 22px;
}

#Aboutbody{
    color: #727272;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 15px;

}

.readmore{
    color: #283b6a;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    

}


/* Extra Small Devices (less than 576px) */
@media (max-width: 575.98px) {
    .Introduction{
    height: 20%;
    }
   .row1{
    width: 96vw;
    margin-left: 0;
   }
   .bodyCard{
    padding-inline: 0;
   }
   .card-title1{
    font-size: 13px;
   }
   .card-subtitle{
    font-size: 35px;
   }
   .text{
    font-size: 12px;
   }
   .buttonIntro{
    width: 130px;
    font-size: 12px;
   }
   
  }
  
  /* Small Devices (576px - 767px) */
  @media (min-width: 576px) and (max-width: 767.98px) {
    .Introduction{
        height: 60vh;
    }
    .intro{
        margin-left: 13px;
    }
   .row1{
    width: 96vw;
    margin-left: 0;
   }
   .bodyCard{
    padding-inline: 0;
   }
   .card-title1{
    font-size: 20px;
   }
   .card-subtitle{
    font-size: 45px;
   }
   .text{
    font-size: 16px;
   }
 
   
   
  }
  
  /* Medium Devices (768px - 991px) */
  @media (min-width: 768px) and (max-width: 991.98px) {
   
    .Introduction{
        height: 60vh;
    }
    .intro{
        margin-left: 3rem;
    }
   .row1{
    width: 80vw;
    margin-left: 0;
   }
   .bodyCard{
    padding-inline: 0;
   }
   .card-title1{
    font-size: 22px;
   }
   .card-subtitle{
    font-size: 65px;
   }

 
  
  }
  
  /* Large Devices (992px - 1199px) */
  @media (min-width: 992px) and (max-width: 1199.98px) {
   
   
  }
  @media (max-width:1200px) {
  
    
  }
  /* Extra Large Devices (1200px and higher) */
  @media (min-width: 1200px) {
   
   
  }
  